<header>
  <nav>
    <ul>
      <% if (!currentUser) { %>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <% } else { %>
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <%- include('partials/alerts') %>
    <h1>Snack Overflow</h1>
