<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body></body>
    <div class="container-fluid bg">
        <h1 class="home-title">Snack Overflow!</h1>
        <p class="welcome">Welcome to Snack Overflow! We are the leading social site for all your snacking needs! Sign up to let the world know about all your snacking hotspots and discuss with fellow enthusiasts. </p>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <form action="/auth/login" method="POST" class="form-container">
                    <div class="form-group">
                        <label for="auth-email">Email</label>
                        <input name= "email" type="email" class="form-control" id="auth-email" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Unless its for money...</small>
                    </div>
                    <div class="form-group">
                        <label for="auth-password">Password</label>
                        <input name ="password" type="password" class="form-control" id="auth-password">
                    </div>
                    <div class="form-group form-check">
                        <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label> -->
                    </div>
                    <button value="Log In" type="submit" class="btn btn-primary login">Login</button>
                    <!-- <button type="submit" class="btn btn-primary sign-up">Sign Up</button> -->
                    <!-- ADD NEW MODAL POPUP HERE -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    SIGN UP
                    </button>
  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create an account to start snacking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/auth/signup" method="POST">
                    <div class="form-group">
                        <label for="new-email">Email</label>
                        <input class="form-control" id="new-email" type="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="new-name">Name</label> 
                        <input class="form-control" id="new-name" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label for="new-password">Password</label>
                        <input class="form-control" id="new-password" type="password" name="password">
                    </div>
                </form>
                
            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button value= "Sign up" type="submit" class="btn btn-primary">Submit</button>
                    </div>
        </div>
    </div>
</div>

















<!-- task list -->
<!-- add functionality to login form
    add modal for sign up  
        modal must basically be signup page functionality
        keep the launch button so you can launch sign up form
        --------------------------------
        put modal button 'demo' where signup is-->
        
        