
  <h2>Snacks</h2>
  <h3>Welcome to your Snack Profile</h3>


  <div class="row">
    <%snacks.forEach((snack) => { %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%=snack.imgUrl%>" alt="snack image">
          <div class="card-body">
            <h2><%= snack.name %></h2>
            <p class="card-text"><%= snack.description %></p>
            <p><button>Remove</button></p>
          </div>
      </div>
    <% }); %>
  </div>







<a href="/snack"> <p>Add a Snack</p></a>
<!-- add a button and a route that goes to snackadd.ejs -->

