<h2>Snacks</h2>

<h3>Welcome to your Snack Profile</h3>

<p>See Your Snacks (DB pull list goes here)</p>
<% snacks.forEach((snack) => { %>
      <h2><%= snack.name %></h2>
  <% }); %>
<a href="/snack"> <p>Add a Snack</p></a>
<!-- add a button and a route that goes to snackadd.ejs -->