:root {
  --dark: #3b3941;
  --burnt: #420202;
  --blue: #52c0d9;
  --light-blue: #7bc7d8;
  --dark-blue: #3e8fa1;
  --darker-blue: #1d4852;
  --yellow: #F2B705;
  --orange: #F29F05;
  --dark-orange: #F28705;
  --red: #e40f0f;
  --white: #FFFBFF;
}

/* Top navbar */
.topnav {
  background-color: var(--dark);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: var(--light-blue);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: var(--blue);
  color: var(--dark);
}

.topnav a.active {
  background-color: var(--dark-blue);
  color: var(--dark-orange);
}

.navlist {
  list-style: none;
}

/* home page */
.home-title {
  font-family: 'Vampiro One', cursive;
  font-size: 100px;
  text-align: center;
  padding-top: 5vh;
  color: var(--white);
}

.welcome {
  text-align: center;
  /* padding-left: 50vh;
  padding-right: 50vh; */
  color: var(--white);
}

body {
  color: var(--white)
}

body, html {
  height: 100%;
  background-color: var(--dark);
}
.bg {
  background-image: url("https://image.freepik.com/free-photo/beer-snacks-like-crackers-chips-cookies-wooden-surface-background_127657-1397.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  padding: 50px 60px;
  margin-top: 5vh;
  max-width: 480px;
  min-width: 430px;
  -webkit-box-shadow: 7px 18px 63px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 18px 63px 4px rgba(0,0,0,0.75);
  box-shadow: 7px 18px 63px 4px rgba(0,0,0,0.75);
}

.btn-primary {
  background-color: var(--dark) !important;
}


/* profile page CSS */

.current-user {
  font-size: large;
}

.profile-page {
  background-color: var(--dark);
  color: var(--light-blue);
}

.profile-header {
  font-family: 'Vampiro One', cursive;
  font-size: 80px;
  text-align: center;
  padding-top: 5vh;
}

#profile-subheader {
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
  font-weight: bold;

}

.card {
  background-color: var(--dark-blue);
  color: var(--white);
  border: 1px solid var(--darker-blue);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 5px var(--darker-blue) ;
}

#wrapper {
  min-width: 400px;
}

.card-img-top {
  min-width: 50px;
  min-height: 50px;
  max-width: 400px;
  max-height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.profile-card-body {
  color: var(--light-blue)
}

.profile-card-footer {
  opacity: 90%;
}

/* profile page button anchor styling */

a.btn {
  color: var(--light-blue);
}

#add-snack {
  float: center;
}

#add-snack:hover { 
  transform: scale(1.2);
}

#view-snack {
  color: var(--light-blue) !important;
  transition: 0.3;
}

#view-snack:hover {
  color:var(--white) !important;
  background-color: var(--dark-orange) !important;
}

#delete-snack {
  color: var(--light-blue) !important;
  float: right;
  transition: 0.3;
}

#delete-snack:hover{
  color: var(--white) !important;
  background-color: var(--red) !important;
}

.detail-header {
  text-align: center;
}

/* modal */
.modal-content{
  background-color: var(--light-blue) !important;
  color: var(--dark) !important;
}