nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
}

.card-image-top {
  height: 100px;
  width: 200px;
  border-radius: 50%;
}

.card{
  margin: 20px;
}

