<!-- we  need to add an if.user statement so this is only accessed by logged in users -->
<!-- add a form that will allow users to create a snack -->
<h1>Add a Snack</h1>
<!-- action is sending the user back to snack page-->
<form action="/snack" method="post">
    <!-- add a snack name, imgUrl, description -->
    <p>
        <label for="snackName">Snack:</label>
        <input id="snackName" type="text" name="name" value="Doritos">
    </p>
    <p>
        <label for="snackDescription">Description</label>
        <input id="snackDescription" type="text" name="description" value="Cool Ranch">
    </p>
    <p>
        <label for="imgUrl">Image URL:</label>
        <input id="imgUrl" type="text" name="imgUrl" value="Image URL">
    </p>
    <input type="submit" value="add snack">
</form>

<!-- another hidden form with snacks already listed that they can add? -->
<form></form>
<!-- add text that on success it shows them their added entry/that they added an entry -->
