<!-- we  need to add an if.user statement so this is only accessed by logged in users -->

<h1>Add a Snack</h1>
<form action="/" method="post"></form>
<!-- add text that on success it shows them their added entry/that they added an entry -->
